<div class="container">
  <div style="text-align: center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img
        src="https://i.pinimg.com/originals/3a/0f/d5/3a0fd599f40546f4a4014ff1c21a84bc.jpg"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <div class="send-letter">
        <button mat-flat-button color="warn" (click)="openDialog()">
          SEND LETTER
        </button>
      </div>
    </div>
  </div>
</div>
